.toggleclass{
    display: flex;
    justify-content: left;
    padding: 20px;
}
.toggleclass img{
    width: 30px;
}
header{
    display: flex;
    padding-top: 30px;
    margin-top: 30px;
    gap: 15px;
    justify-content: center;
    font-size: 30px;
}
header img{
    width: 60px;
}

.cal-home{
    width: 75%;
    margin: 80px auto;
    display: flex;
    gap: 10px;
}
.cal-home > .cal-p{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    flex-direction: column;
}
.cal-p > p{
    margin-top: 30px;
}
.cal-home > .cal-cal{
    width: 60%;
}

.button-name{
    display: flex;
    gap:14px;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    
}
.button-name button{
    width: fit-content;
    padding: 12px;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn1{
    background-color: rgb(20, 185, 20);
}
#btn2{
    background-color: rgb(6, 6, 6);
}

.home-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 100px;
    flex-direction: column;
    background-color: #1e1c1c;
    padding: 20px;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(255, 255, 255, 0.05);
    border-radius: 12px;

}
.footer-one{
    display: flex;
    gap: 2px;
    margin-bottom: 60px;
}
.footer-one > img{
    width: 30px;
}
.footer-two{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    justify-content: space-around;
}
.footer-two > h6{
    opacity: 0.7;
}
.footer-two > h6:hover{
    opacity: 1;
    color: blue;
    cursor: pointer;
}
.footer-three{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}
.footer-three > .mrLogo{
    display: flex;
    gap: 5px;

}
.footer-three > .mrLogo > img{
    width: 40px;
}
